.quote-card {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 10%;
  padding-left: 5%;
  z-index: 10;
  opacity: 0;
}

.card {
  width: 400px;
}

#linkToPortfolio {
  position: absolute;
  bottom: 1%;
  margin-left: 55%;
  z-index: 10;  
  opacity: 0;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

img {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}

@media screen and (max-width: 1024px) { 
  img {
    left: 50%;
    margin-left: -512px; 
  }
}

@media screen and (max-width: 600px) { 
  #linkToPortfolio {
    bottom: 1%;
    margin-left: 25%;
    z-index: 10;  
  }
}

@media screen and (max-width: 900px) { 
  #linkToPortfolio {
    bottom: 1%;
    margin-left: 45%;
    z-index: 10;  
  }
}
