html { 
  background: url(https://s13.postimg.org/4p8p7anvr/01860_sanfrancisco_2560x1600-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quote-card {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 10%;
  padding-left: 5%;
  z-index: 10;
}

.card {
  width: 400px;
}

#linkToPortfolio {
  position: absolute;
  bottom: 1%;
  margin-left: 55%;
  z-index: 10;  
}

@media screen and (max-width: 1024px) { 
  img {
    left: 50%;
    margin-left: -512px; 
  }
}

@media screen and (max-width: 600px) { 
  #linkToPortfolio {
    bottom: 1%;
    margin-left: 25%;
    z-index: 10;  
  }
}

@media screen and (max-width: 900px) { 
  #linkToPortfolio {
    bottom: 1%;
    margin-left: 45%;
    z-index: 10;  
  }
}