* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.bg:after {
  position:fixed;
  display:block;
  content:"";
  min-width: 100%;
  min-height: 100%;
  background-color:rgba(0,0,0,0.5);
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

img {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

img[data-src] {
	opacity: 0;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  background-color: cadetblue;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.footer {
  flex-shrink: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

.card {
  margin: 10px;
  padding: 5px 10px;
  background-color: rgb(235, 235, 235);
  color: black;
  border-radius: 4px;
  border: 1px solid black;
}

.title {
  width: 400px;
  padding: 10px 30px;
  font-size: 4rem;
  font-style: italic;
}

.link {
  text-decoration: none;
}

.controls {
  position: absolute;
  z-index: 5;
  background-color: cadetblue;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls > div {
  height: 52px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.strictIndicator {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: firebrick;
  transition: all 200ms ease;
}

.strictOn {
  background-color: seagreen;
}

.onOffContainer {
  display: flex;
  align-items: center;
}

.toggleBody {
  width: 50px;
  height: 25px;
}

.toggle {
  width: 20px;
  height: 21px;
  background-color: firebrick;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  top: -4px;
  left: -9px;
  transition: all 200ms ease;
}

.toggleOn {
  transform: translateX(26px);
  background-color: seagreen;
}

button {
  border: none;
  font-size: 1.1rem;  
}

p {
  font-size: 1.1rem;  
}

.simonButton {
  width: 240px;
  height: 240px;
  border: 2px solid black;
}

#green {
  background-color: forestgreen;
  border-top-left-radius: 100%;
}

#green:hover {
  box-shadow: -2px -3px 2px #414141;
}

#green:active {
  background-color: rgb(42, 192, 42);
  border-color: rgb(42, 192, 42);
  box-shadow: 2px -3px 2px rgb(42, 192, 42);
  box-shadow: -2px 3px 2px rgb(42, 192, 42);
  box-shadow: -2px -3px 2px rgb(42, 192, 42);
  box-shadow: 2px 3px 2px rgb(42, 192, 42);
}

#red {
  background-color: tomato;
  border-top-right-radius: 100%;
}

#red:hover {
  box-shadow: 2px -3px 2px #414141;
}

#red:active {
  background-color: rgb(252, 145, 126);
  border-color: rgb(252, 145, 126);
  box-shadow: 2px -3px 2px rgb(252, 145, 126);
  box-shadow: -2px 3px 2px rgb(252, 145, 126);
  box-shadow: -2px -3px 2px rgb(252, 145, 126);
  box-shadow: 2px 3px 2px rgb(252, 145, 126);
}

#yellow {
  background-color: gold;
  border-bottom-left-radius: 100%;
}

#yellow:hover {
  box-shadow: -2px 3px 2px #414141;
}

#yellow:active {
  background-color: rgb(252, 224, 67);
  border-color: rgb(252, 224, 67);
  box-shadow: 2px -3px 2px rgb(252, 224, 67);
  box-shadow: -2px 3px 2px rgb(252, 224, 67);
  box-shadow: -2px -3px 2px rgb(252, 224, 67);
  box-shadow: 2px 3px 2px rgb(252, 224, 67);
}

#blue {
  background-color: steelblue;
  border-bottom-right-radius: 100%;
}

#blue:hover {
  box-shadow: 2px 3px 2px #414141;
}

#blue:active {
  background-color: rgb(95, 163, 219);
  border-color: rgb(95, 163, 219);
  box-shadow: 2px -3px 2px rgb(95, 163, 219);
  box-shadow: -2px 3px 2px rgb(95, 163, 219);
  box-shadow: -2px -3px 2px rgb(95, 163, 219);
  box-shadow: 2px 3px 2px rgb(95, 163, 219);
}

button:hover, a:hover {
  box-shadow: 2px 3px 2px #414141;
}

button:active, a:active {
  box-shadow: inset 2px 3px 2px #414141;
}

button, .simonButton, .toggleBody {
  cursor: pointer;
}

