* {
  box-sizing: border-box;
  font-family: 'Dosis', serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  min-height: 100vh;
	background: #134E5E;  /* fallback for old browsers */
  background: linear-gradient(215deg, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fafafa;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

h1 {
  font-style: italic;
  font-size: 3.25rem;
  margin: 2px 0;
}

input {
  background-color: #fff;
	border: 1px solid #D6D9DC;
	border-radius: 3px;
	padding: 7px;
  font-size: 1.1rem;
  margin: 2px 0;  
}

button {
  font-size: 1.2rem;
  
	color: #FFF;
	background-color: #407FC7;
  
	border: none;
	border-radius: 3px;
  
	padding: 8px 15px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin: 2px 0;  
}

a:hover, button:hover {
  transition: all ease 0.3s;
	background-color: #76AEED;
}

a:active, button:active {
  transition: all ease 0.3s;
	background-color: cornflowerblue;
}

a {
  text-decoration: none;
  font-size: 1.1rem;

  color: #fff;
  background-color: darkturquoise;

  border: none;
  border-radius: 3px;

  padding: 9px 16px;
  cursor: pointer;
  transition: all ease 0.3s; 
  margin: 2px 0;   
}

#tabs {
  opacity: 0;
  transition: all ease 0.5s;
}

#tabLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tabLink {
  position: relative;
  font-size: 1.05rem;  
	padding: 10px 15px 5px 15px;
  margin: 2px 2px 0px 2px;
  text-align: center;
}

.tabLink::before {
  content: ''; /* To generate the box */
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	background: darkturquoise;
  border-radius: 4px 4px 0 0;
}

.hover {
  transition: all 0.3s;
}

.selected {
  transition: all 0.3s;  
}

.hover::before {
  background-color: #76AEED;
  transition: all 0.3s;
}
.selected::before {
  background-color: cornflowerblue;
  transition: all 0.3s;
}

#tabContents {
  overflow: hidden;
}

.tabContent {
  position: absolute;
  border-top: 3px solid cornflowerblue;
  border-left: 3px solid cornflowerblue;
  border-right: 3px solid cornflowerblue;
  border-radius: 0 0 3px 3px;
  background-color: darkturquoise;  
  left: 0px;
  width: 100%;
  opacity: 0.5;
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
}
.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.center {
  opacity: 1;
  transform: translateX(0%);
}

iframe {
  width: 100%;
  transition: all ease 0.3s;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 3px solid cornflowerblue;
  border-radius: 0 0 3px 3px;
  opacity: 0;
}

.visitPage {
  position: relative;
  margin: 5px;
  right: 260px;
  bottom: 45px;
}

#messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all ease 0.3s;
  height: 30px;
  margin-bottom: 10px;
}

#message {
  background-color: darkturquoise;
  font-size: 1.2rem;
  padding: 3px 10px;
  border-radius: 5px;
}

.tabDescriptionContainer {
  background-color: darkturquoise;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid cornflowerblue;
}

.tabDescription {
  width: 80%;
  padding: 5px 0;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}
