body {
  margin-top: 30px;
}

.main-background {
  background-color: #888;
}
.name {
  font-size: 64px;
  text-shadow: 2px 2px 2px #666;
}
.description {
  font-size:18px;
}
.quote {
  font-size: 22px;
}