* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Cabin', sans-serif;
  font-size: 1.05rem;
}

#bg:after {
  position:fixed;
  display:block;
  content:"";
  min-width: 100%;
  min-height: 100%;
  background-color:rgba(0,0,0,0.4);
  top:0;
  left:0;
  right: 0;
  bottom: 0;
}

#bg img {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

img {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.calculatorContainer {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  flex: 1 0 auto;
  margin-top: 100px;
  margin-left: 120px;
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 135px;
  margin-bottom: 15px;
}

.link {
  color: white;
  text-decoration: none;
}

.calcButton {
  width: 20px;
  font-size: 1.3rem;
}

.calcButtonContainer {
  cursor: pointer;
}

.doubleWidth {
  width: 92px;
}

#clearContainer {
  margin-left: 80px;
}

#display {
  width: 245px;
}

.button {
  position: relative; 
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px 8px;
  margin: 10px 15px;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  transition: all 100ms;
}

.button > * {
  display: inline-block;
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  transition: all 100ms; 
}

.button:before, .button:after { 
  content: ""; 
  position: absolute; 
  bottom: -1px; 
  left: -1px; 
} 

.button:before { 
  top: -1px; 
  width: 3px; 
  background-image: -webkit-linear-gradient(transparent, white 60%); 
  background-image: -moz-linear-gradient(transparent, white 60%); 
  background-image: -o-linear-gradient(transparent, white 60%); 
} 

.button:after { 
  right: -1px; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, white 60%, transparent); 
  background-image: -moz-linear-gradient(left, white 60%, transparent); 
  background-image: -o-linear-gradient(left, white 60%, transparent); 
}

.buttonActive {
  position: relative; 
  display: inline-block;
  color: lightslategrey;
  text-align: center;
  padding: 4px 8px;
  margin: 10px 15px;
  -ms-transform: skewX(-18deg) translate(1px, -1px);
  -webkit-transform: skewX(-18deg) translate(1px, -1px);
  transform: skewX(-18deg) translate(1px, -1px);
  transition: all 100ms;  
}

.buttonActive > * {
  display: inline-block;
  -ms-transform: skewX(18deg);
  -webkit-transform: skewX(18deg);
  transform: skewX(18deg);  
  transition: all 100ms;
}

.buttonActive:before, .buttonActive:after { 
  content: ""; 
  position: absolute; 
  bottom: -1px; 
  left: -1px; 
} 

.buttonActive:before { 
  top: -1px; 
  width: 3px; 
  background-image: -webkit-linear-gradient(transparent, lightslategrey 60%);  
  background-image: -moz-linear-gradient(transparent, lightslategrey 60%); 
  background-image: -o-linear-gradient(transparent, lightslategrey 60%); 
} 

.buttonActive:after { 
  right: -1px; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, lightslategrey 60%, transparent); 
  background-image: -moz-linear-gradient(left, lightslategrey 60%, transparent); 
  background-image: -o-linear-gradient(left, lightslategrey 60%, transparent); 
}

a:active {
  color: lightslategrey;
}

@media screen and (max-width:550px) {
  #bg img {
    left: -50px; 
  }
  .calculatorContainer {
    flex: 1 0 auto;
    margin-top: 10px;
    margin-left: 12px;
  }
  
  .footer {
    margin-left: 15px;
  }

  .buttonDefault {
    margin: 10px 10px;
  }

  .buttonDefaultActive {
    margin: 10px 10px;
  }

  #display {
    width: 215px;
  }

  .doubleWidth {
    width: 82px;
  }
}
