html {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  letter-spacing: 1px;
  font-family: cabin, sans-serif;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: #03a9f4;
  text-align: center;
  border-radius: 1px;
}

.container {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.clockContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  background-color: lightsteelblue;
}

.controlsContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(218, 123, 150);
}

.title {
  width: 60vw;
  margin: 0 auto;
  font-size: 1.2rem;
}

.title > h1 {
  transition: all 400ms;  
}

.options {
  background-color: lightseagreen;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 300ms;
}

a:hover {
  box-shadow: 2px 3px 3px #757575;
}

a:active {
  box-shadow: inset 2px 3px 3px #757575;
}

.input {
  background-color: coral;
  font-size: 1.3rem;
  padding: 0px 8px;
}

.control:hover {
  box-shadow: 2px 3px 3px #757575;
}

.control:active {
  box-shadow: inset 2px 3px 3px #757575;
}

img {
  width: 70px;
  height: 70px;
  margin: 3px;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.2, 1.7, 0.58, 1);
}
